<h1>Create a new blog</h1>

<!-- <% if @blog.errors.any?%>
    <% @blog.errors.full_messages.each do |message|%>
    <div style="color:red">
        <%= message %>
    </div>
    <% end %>
<% end %>-->

<!--<%= form_with(model: @blog) do |form|%>
    <div>
        <%= form.label "Title", style: "display: block"%>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label "Description", style: "display: block"%>
        <%= form.text_field :description %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %> -->

<%= render partial: 'blog_form', locals: {blog: @blog} %>

<%= link_to "Go back to Blogs", blogs_path%>