<div class="text-center" id="forFontColor">
    <% if @quiz.user %>
        <div><%= "Made by: #{@quiz.user.username}"%></div>
    <% end %>

    <h1><%= @quiz.title %></h1>

    <p><%= @quiz.description%></p>
    <%= link_to "Click here to edit Quiz", edit_quiz_path(@quiz)%>
    <%= button_to "Delete Quiz", @quiz, method: :delete, class:"btn btn-danger"%>
</div>