<div id="<%= dom_id question %>">
  <p>
    <strong>Prompt:</strong>
    <%= question.prompt %>
  </p>

  <p>
    <strong>User answer:</strong>
    <%= question.user_answer %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= question.correct_answer %>
  </p>

  <p>
    <strong>Possible answers:</strong>
    <%= question.possible_answers %>
  </p>

</div>
